@import 'reset';
@import 'color';
@import 'font';
@import 'mixin';

#wrap {
    width: 100%; max-width: 1920px; margin: 0px auto; overflow: hidden; display: block;
    #header {
        width: 100%; height: 165px; display: block;
        .gnb {
            width: 100%; height: 100%; display: block; background: skyblue;
        }
    }
    #main_slider {
        width: 100%; height: 762px; margin: 0px auto; overflow: hidden; position: relative; background: pink;
    }
    #contents {
        width: 100%; padding-top: 50px; margin-top: 300px; display: block; background: #eee;
        .con1 {
            width: 100%; margin-bottom: 20px; background: skyblue;
            .text {
                width: 620px; height: 380px; background: #ddd; 
            }
        }
        .con2 {
            width: 100%; margin-bottom: 20px; background: pink;
            .text {
                width: 620px; height: 380px; background: #ddd; 
            }
        }
        .con3 {
            width: 100%; margin-bottom: 20px; background: skyblue;
            .text {
                width: 620px; height: 380px; background: #ddd;
            }
        }
    }
    #sub_slider {
        width: 1400px; height: 790px; background: pink; margin: 80px auto;
        
    }
    #slider {
        width: 100%; height: 669px; margin: 0px auto; padding: 0 0 0; position: relative; background: #ddd;
    }
    #insta_slider {
        max-width: 2435px; margin: 0px auto; position: relative; display: block;
        ul {
            width: 100%; height: 350px; margin-top: 50px; padding-top: 30px;
            li {
                width: 14.2857%; height: 100%; float: left; background: #ccc; border-right: 1px solid #000; box-sizing: border-box;
            } 
        }&::after {
            display: block; content: ""; clear: both;
        }
    }
    #footer {
        display: block; width: 100%; height: 650px; background: #f1f2f2;
        .top_footer {
            width: 100%;  height: 253px; border-top: 1px solid #ccc; padding: 30px 0; text-align: center; margin-top: 160px;
            .t_left {
                width: 50%; height: 253px; float: left; background: #ccc;
            }
            .t_right {
                width: 50%; height: 253px; float: left; background: skyblue;
            }
        }&::after {
            display: block; content: ""; clear: both;
        }
        .bottom_footer {
            width: 1400px; height: 300px; margin: 0 auto; overflow: hidden; display: block;
            .footerWrap {
                width: 1400px; height: 190px; margin: 0 auto; overflow: hidden; display: block; 
                .b_left {
                    width: 30%; height: 100%; float: left; background: skyblue; 
                }
                .b_right {
                    width: 70%; height: 100%; float: left; background: #ccc;
                }
            }
            .bottom {
                width: 1400px; height: 120px; overflow: hidden; display: block;
                .bottom1 {
                    width: 100%; height: 50%; background: pink;
                }
                .bottom2 {
                    width: 100%; height: 50%; background: skyblue;
                }
            }
        }
    }
}